<div class="post-meta">
    <hr>
    <h6 data-toc-skip id="DelphiCommunities">Connect with other Delphi Developers online!</h6>
    <div>
      <p>Come join our <a href="https://t.me/delphidevelopers"><strong>Delphi Developer Group on Telegram</strong></a> which has 
      grown to over 1,500 members and is a great place to ask/answer Delphi related questions in a live-chat style interface. 
      If you prefer Slack, join us on the <a href="https://join.slack.com/t/delphiprogrammers/shared_invite/zt-plo1a2jr-xaLr7nuzakcgBTi2Ex5Thg"><strong>Delphi Programmers Slack Channel</strong></a> 
      which has grown to over 550 members and is mostly used for private member-to-member messaging.  
      And because we believe in choice, you even join us on the <a href="https://discord.gg/jYDhhcaAyx"><strong>Delphi Programmers Discord Server</strong></a> 
      where we have over 1,000 members.</p>
      <p>You can also reach me directly on <a href="https://twitter.com/ideasawakened"><strong>Twitter</strong></a> (600+ followers) 
        or <a href="https://www.linkedin.com/in/darianm/"><strong>LinkedIn</strong></a> (5,800+ connections.)  
      For an old-school message board, one of the best is the <a href="https://en.delphipraxis.net/"><strong>Delphi-PRAXiS international forum</strong></a></p>
    </div>
  </div>